.contact-us {
  text-align: center;

  &__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 48px;
    padding-bottom: 93px;
    letter-spacing: -1.5px;
    position: relative;

    &::after {
      position: absolute;
      top: 25px;
      left: calc(50% - 10px);
      content: url(../images/icons/crown.svg);
      display: block;
      width: 20px;
      height: 10px;
    }
  }
}
