.contacts {
  &__title {
    @media (max-width: 767px) {
      padding-bottom: 53px;

      font-size: 36px;
      line-height: 36px;
    }

    position: relative;
    padding-bottom: 93px;

    @extend %section-title-font-48px;
    text-align: center;

    &::after {
      position: absolute;
      top: 25px;
      left: calc(50% - 10px);
      content: url(../images/icons/crown.svg);
      display: block;

      width: 20px;
      height: 10px;
    }
  }

  &__info {
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      &:not(:first-child) {
        margin-top: 24px;
      }
    }

    display: grid;
    justify-content: space-between;
    justify-items: center;
    grid-template-columns: 1fr 1fr 413px;
  }

  &__item {
    width: 100%;
  }

  &__label {
    margin-bottom: 8px;

    font-size: 14px;
    font-weight: normal;
    line-height: 27px;
    color: #9fadc2;
  }

  &__link {
    margin-bottom: 24px;
    margin-right: 20px;

    font-size: 16px;
    font-weight: normal;
    line-height: 27px;
    text-decoration: none;
    color: #3e3e3e;
  }

  @media (max-width: 767px) {
    &__form:first-child {
      margin-top: 32px;
    }
  }

  &__form {
    margin-left: 10px;
    @media (max-width: 767px) {
      margin-left: 0;
    }
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    display: block;

    background: #f7f8ff;
    border: 1px solid $default-white-color;
    border-radius: 8px;
    outline: none;

    &:hover {
      border: 2px solid #ccd0e0;
    }

    &:focus {
      border: 2px solid $blue-link-color;
    }

    &:not(:last-child) {
      margin-bottom: 48px;
    }

    &-area {
      margin-bottom: 32px;
      width: 100%;
      height: 144px;

      font-family: inherit;

      background: #f7f8ff;
      border: 1px solid $default-white-color;
      border-radius: 8px;
      outline: none;

      &:hover {
        border: 2px solid #ccd0e0;
      }
  
      &:focus {
        border: 2px solid $blue-link-color;
      }
    }
  }

  &__button {
    @media (max-width: 767px) {
      width: 100%;
    }

    display: block;
    margin: 0 auto 88px;

    width: 413px;
    height: 56px;

    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: $default-white-color;

    background: $blue-link-color;
    box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    border-radius: 8px;

    border-color: #005ecc;

    cursor: pointer;

    &:hover {
      background: #005ecc;
      box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
    }

    &:active {
      background: #005ecc;
      box-shadow: 0 8px 14px rgba(0, 83, 181, 0.48);
    }
  }
}
