.footer {
  position: relative;
  height: 360px;

  @media (max-width: 767px) {
    height: 206px;

    &__logo {
      left: calc(50% - 39px);

      width: 78px;
      height: 46px;
    }
  }

  background-image: url(../images/footer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__logo {
    position: absolute;
    bottom: 40px;
    left: calc(50% - 58px);

    width: 116px;
    height: 76px;
  }
}
