.header {
  position: relative;
  height: 100vh;
  padding: 25px 120px 0;

  @media (max-width: 767px) {
    padding: 25px 20px 0;
  }

  background-image: url(../images/header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__top-part {
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-check-box {
    display: none;

    &-label {
      z-index: 2;

      width: 24px;
      height: 16px;
      padding: 4px;

      @media (max-width: 767px) {
        width: 18px;
        height: 12px;
        padding: 3px;
      }

      background-image: url(../images/icons/default_menu_icon.png);
      background-repeat: no-repeat;
      background-position: center;

      cursor: pointer;

      transition: background-image 0.3s;

      &:hover {
        background-image: url(../images/icons/hovering_menu_icon.png);
        transition: background-image 0.3s;
      }
    }

    &:checked + &-label {
      background-image: url(../images/icons/closing_menu_icon.png);
      transition: background-image 0.3s;
    }
  }

  &__nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100vh;

    background-color: $blue-link-color;

    &--active {
      transition: z-index 1s;
      z-index: 1;
    }
  }

  &__logo {
    z-index: 2;

    width: 130px;
    height: 75px;

    @media (max-width: 767px) {
      width: 78px;
      height: 46px;
    }
  }

  &__phone {
    position: relative;

    height: 24px;
    width: 24px;
    padding: 4px;

    @media (max-width: 767px) {
      width: 18px;
      height: 18px;
      padding: 3px;
    }

    display: flex;
    justify-content: center;
    align-items: baseline;

    &::before {
      @media (max-width: 767px) {
        display: none;
      }

      position: absolute;
      right: 44px;

      width: max-content;

      font-family: "Roboto", sans-serif;
      font-size: 12px;
      font-weight: bold;
      line-height: 16px;
      content: "+1 234 555-55-55";
      color: $default-white-color;

      opacity: 0;

      transition: opacity 0.7s;
    }

    &:hover::before {
      opacity: 1;
    }
  }

  &__title {
    @media (max-width: 767px) {
      font-size: 46px;
      line-height: 40px;
      letter-spacing: -1 px;
    }
    position: absolute;
    bottom: 80px;

    margin: 0;
    padding: 0;

    font-size: 80px;
    font-weight: bold;
    line-height: 80px;
    letter-spacing: -1.5px;
    color: $default-white-color;

    &::before {
      position: absolute;
      top: -24px;

      width: 40px;
      height: 2px;

      content: "";
      background: $default-white-color;
      border-radius: 2px;
    }
  }
}
