.header {
  position: relative;
  height: 100vh;

  background-image: url(../images/header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__nav {
    position: absolute;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: #0075ff;
    z-index: 5;
    transition: transform 0.7s, background-color 0.7s;
  }

  &__wrapper {
    padding: 25px 120px 0;
  }

  &__top-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-check-box {
    display: none;

    &-label {
      width: 24px;
      height: 16px;
      padding: 4px;

      background-image: url(../images/icons/default_menu_icon.png);
      background-repeat: no-repeat;
      background-position: center;

      cursor: pointer;

      transition: background-image 0.7s;

      &:hover {
        background-image: url(../images/icons/hovering_menu_icon.png);
        transition: background-image 0.7s;
      }
    }

    &:checked + &-label {
      background-image: url(../images/icons/closing_menu_icon.png);
    }
  }

  &__menu-check-box:checked ~ &__nav {
    transform: translateX(100vw);
  }

  &__logo {
    width: 130px;
    height: 75px;
    z-index: 2;
  }

  &__phone {
    position: relative;

    height: 24px;
    width: 24px;
    padding: 4px;

    display: flex;
    justify-content: center;
    align-items: baseline;

    &::before {
      position: absolute;
      right: 44px;

      width: max-content;

      font-family: "Roboto", sans-serif;
      font-size: 12px;
      font-weight: bold;
      line-height: 16px;
      content: "+1 234 555-55-55";
      color: #fff;

      opacity: 0;

      transition: opacity 0.7s;
    }

    &:hover::before {
      opacity: 1;
    }
  }

  &__title {
    position: absolute;
    bottom: 80px;

    margin: 0;
    padding: 0;

    font-size: 80px;
    font-weight: bold;
    line-height: 80px;
    letter-spacing: -1.5px;
    color: #fff;

    &::before {
      position: absolute;
      top: -24px;

      width: 40px;
      height: 2px;

      content: "";
      background: #fff;
      border-radius: 2px;
    }
  }
}
