.nav {
  padding: 150px 120px 0;
  @media (max-width: 767px) {
    padding: 120px 20px 0;
  }

  color: $default-white-color;

  &__list {
    list-style: none;
    color: $default-white-color;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }

    &:last-child {
      margin-bottom: 48px;
    }
  }

  &__link {
    font-size: 22px;
    font-weight: bold;
    line-height: 22px;
    text-decoration: none;
    color: $default-white-color;

    &:hover {
      padding-bottom: 8px;
      border-bottom: 1px solid $default-white-color;
    }
  }

  &__phone-number {
    margin-bottom: 16px;

    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__call-link {
    margin-bottom: 160px;
    padding-bottom: 8px;

    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 2px;
    color: $default-white-color;
    text-decoration: none;

    border-bottom: 1px solid $default-white-color;
  }
}
