.testimonials {
  text-align: center;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 25px;

    @media (max-width: 767px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__title {
    @media (max-width: 767px) {
      padding-bottom: 53px;

      font-size: 36px;
      line-height: 36px;
    }

    position: relative;
    padding-bottom: 93px;

    @extend %section-title-font-48px;

    &::after {
      position: absolute;
      top: 25px;
      left: calc(50% - 10px);
      display: block;
      width: 20px;
      height: 10px;
      content: url(../images/icons/crown.svg);
    }
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 152px;

    width: 240px;

    @media (max-width: 767px) {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 48px;
      }

      &:last-child {
        margin-bottom: 64px;
      }
    }

    &-photo {
      margin-bottom: 28px;

      width: 153px;
      height: 153px;

      border-radius: 50%;
    }

    &-name {
      margin-bottom: 4px;

      font-size: 24px;
      font-weight: bold;
      line-height: 30px;
      color: $blue-link-color;
    }

    &-profession {
      margin-bottom: 13px;

      font-size: 14px;
      font-weight: normal;
      line-height: 27px;
      color: #9fadc2;
    }

    &-comments {
      font-size: 16px;
      font-weight: normal;
      line-height: 27px;
      color: #3e3e3e;
    }
  }
}
